<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="PATTERN" value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"/>
  <property name="LOG_DIR" value="."/>
  <property name="FILE_NAME" value="metlifefundhistory.log"/>
  <property name="APP_NAME" value="${project.groupId}>"/>
  <property name="APP_VERSION" value="${project.version}"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/${FILE_NAME}</file>
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="hu.sinap86.metlifefundhistory" level="DEBUG">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </logger>

</configuration>
